@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background: url() no-repeat center center fixed;
  background-size: cover;
  font-family: "Lato", sans-serif;
  font-size:22px;
  font-weight:400;
}

html {
    height:100%;
    margin:0;
    padding:0;
    line-height:1.8em;
    color:#666;
}

#page {
    height: 100%;
}

#fontControls  {
    z-index: 100;
    position: fixed;
    right: 0;
    width: 25px;
    background:#333;
    text-align:center;
    transition:.25s ease-out;
    top: 80px;
}

#fontControls a {
    font-size:24px;
    color:#aaa;
    display:block;
    font-weight:bold;
    padding: 5px;
}

#fontControls a:hover {
    color:#fff;
    background:#000;
    transition:.25s ease-out;
}

a.selected {
    background:#000;
    color:#fff !important;
}

#small     {  font-size:10px !important;}
#medium    {  font-size:15px !important;}
#large     {  font-size:20px !important;}

.small     {  font-size:75%;}

@media screen and (max-width: 650px) {
    #fontControls {
        background: rgba(0, 0, 0, 0.8);
        top: 320px;
        width: 100%;
        right: auto;
        margin: 0;
        display: none;
        height: 40px;
    }
    
    #fontControls.responsive {
        display:inline-flex !important;
    }
    
    #fontControls a {
        display: inline-block;
        margin: 0 auto;
        line-height: 40px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 16%;
        padding-right: 16%;
    }
    
    #small     {  font-size:10px !important;}
    #medium    {  font-size:16px !important;}
    #large     {  font-size:22px !important;}
}
